@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
    margin: 0;
}

body {
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.navigation {
    margin:0px auto;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 1200px;
    height: 54px;
    background-color: rgb(255, 255, 255);   
}
.navigation--left {
    font-weight: bolder;
    color: rgb(36, 109, 128);
}
.navigation--right {
    font-weight: 800;
    font-size:15px;
    color: rgba(41, 46, 47, 0.733);
}

.head {
    width: auto;
    height: 280px;
    background-image: linear-gradient(to right bottom, rgba(82, 143, 158, 0.575), rgb(36, 109, 128, 0.8));
    background-position:80% 50%;
    display: flex;
    align-items: center;
}
.head2 {
    margin:0px auto;
    width: auto;
    height: 280px;
    background-image: url(../css/img/welcome\ 1.png);
    background-repeat: no-repeat;
    background-position:100% 50%;
    display: flex;
    align-items: center;
}
.head--left {
    margin:0px auto;
    /* border: 1px solid blue; */
    width: 1200px;
    height: 150px;
    
    display: grid;
    grid-template-rows: 40px 40px 40px;
}
.text1 {
    width: 100%;
    text-align: left;
    font-weight: bolder;
    color:rgb(255, 255, 255);
}
.text2 {
    width: 100%;
    text-align: left;
    font-weight: 700;
    color:rgb(255, 255, 255);
    font-size:15px;
}
.search {
    width: 100%;
    text-align: left;
    display: flex;
}
.insert {
    color:#757575;
    font-weight: 700;
    font-size: 16px;
    line-height:13.3px;
    padding: 15px;
    height: 15px;
    width: 390px;
    border: 0;
    border-radius: 5px 0 0 5px;
}
.button {
    background-color: rgb(36, 109, 128);
    height: 46px;
    width: 60px;
    border: 0;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
}
.logo {
    width: 35px;
    height: 35px;
}

.content {
    /* border: 1px solid blue; */
    margin: 0 auto;
    padding: 80px;
    max-width: 1200px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
    gap: 40px;
}
.all {
    border: 1px solid rgba(56, 56, 56, 0.322);
    width: 100%;
    height: 290px;
    display: grid;
    grid-template-rows: 1fr 100px;
    border-radius: 5px 5px 5px 5px;
}
.img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    aspect-ratio:16/9; /* 讓圖片長寬比一樣 */
}
.title {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    text-decoration:none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.name {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center; 
    padding: 0px 10px 0px 10px;
    grid-area: 1/ 1/ 2 /3;
    font-weight: bolder;
    color: #6e6e6e;
}
.category {
    /* border: 1px solid blue; */
    grid-area: 2/ 2/ 3 /3;
    display: flex;
    align-items: center; 
    justify-content: right;
    padding: 0px 10px 0px 10px;
    color: #6e6e6e;
}
.mrt {
    /* border: 1px solid blue; */
    grid-area: 2/ 1/ 3 /2;
    display: flex;
    align-items: center; 
    padding: 0px 10px 0px 10px;
    color: #6e6e6e;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    width:auto;
    height: 50px;
    padding:15px;
    font-size:15px;
    color:white;
    background-color: #6e6e6e;
    position:sticky;
}

@media(max-width: 1200px) {
    .navigation {
        width: 90%;
        justify-content: space-between;
    }
    .head {
        width: 1200px;
        background-size: 100%;
        background-position: right bottom;
    }
    .head2 {
        width: 1200px;
        background-size: 50%;
        background-position: 90% 50%;
    }
    .head--left {
        width: 90%;
        align-items: flex-start;
    }
    .text1 {
        width: 80%;
    }
    .text2 {
        width: 80%;
    }
    .search {
        width: 80%;
    }
    .content{
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
        width: 70%;
    }
    .all {
        width: 100%;
        height: auto;
    }
    .img {
        width: inherit;
        height: auto;
        aspect-ratio: 16/11;
    }
}

@media(max-width: 600px) {
    .navigation {
        width: auto;
        justify-content: space-between;
    }
    .head {
        width: 600px;
        background-size: 100%;
        background-position: right bottom;
    }
    .head2 {
        width: 600px;
        background-size: 50%;
        background-position: 60% 100%;
    }
    .head--left {
        width: 90%;
        align-items: flex-start;
    }
    .text1 {
        width: 100%;
    }
    .text2 {
        width: 100%;
    }
    .search {
        width: 50%;
    }
    .content {
        margin: 0 auto;
        grid-template-columns: repeat(1,1fr);
        width: 60%;
    }
    .all {
        width: 100%;
        height: auto;
    }
    .img {
        width: inherit;
        height: auto;
        aspect-ratio: 16/11;
    }
}